
.sidebarSensorList{
    width: 200px;
    height: 100%;
    background-color: rgb(118, 94, 14);
    padding: 4px;
}

.addSensorForm{
    border-color: black;
    border-style: solid;
    border-radius: 8px;
}


